<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/cv">Catalogue</a></li>
        <li><a href="/about.html">About</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:trustee@standards.police.uk">trustee@standards.police.uk</a></li>
        <li><a href="https://github.com/nptcstandards">github.com/nptcstandards</a></li>
    </ul>
</footer>
</body>
</html>
