---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document">
        <h1 class="title" role="presentation">NPTC Standards Working Group (NPTS)</h1>
        <p class="subtitle">Standards for UK Policing</p>
        <a class="start-button" href="{{ 'framework.html' | relative_url }}" role="link">Overview</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">This is a BETA Site and should not be used for production purposes at present</h2>
        <p>More additions are on their way</p>
    </section>
    <section class="companies" role="document">
        <h2 role="presentation">In association with..</h2>
        <div class="company-gallerys">
            <div class="gallery"><img src="{{ '/assets/img/organisations/nptc_logo.jpg' | relative_url }}" alt="National Police Technology Council" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/organisations/Police_ICT_Logo.png' | relative_url }}" alt="Police ICT Company" role="img"></div>
        </div>
    </section>
</article>
