---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document">
        <h1 class="title" role="presentation">NPTC Standards Working Group (NPTS)</h1>
        <p class="subtitle">Standards for UK Policing</p>
        <a class="start-button" href="{{ '/standards/bps00001-1.html' | relative_url }}" role="link">Overview</a>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">Standards for UK Policing</h2>
        <p>Write Full description here</p>
    </section>
    <!-- section class="companies" role="document">
        <h2 role="presentation">Interacting with many organisations...</h2>
        <div class="company-gallerys">
            <div class="gallery"><img src="{{ '/assets/img/companies/xamarin.png' | relative_url }}" alt="Xamarin" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/microsoft.png' | relative_url }}" alt="Microsoft" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/24ent.png' | relative_url }}" alt="24-7 Entertainment" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/xablu.png' | relative_url }}" alt="XABLU" role="img"></div>
            <div class="gallery"><img src="{{ '/assets/img/companies/olo.png' | relative_url }}" alt="Olo" role="img"></div>
        </div>
        < a class="showcases-button" href="/showcases" role="link">See all showcases</a>
    </section -->
</article>
